# Pihole Compose File
# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    networks:
      - frontend
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "{{ pihole_admin_port }}:80/tcp"
    environment:
      TZ: 'America/Los_Angeles'
      WEBPASSWORD: '{{ pihole_password }}'
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pihole.rule=Host(`pihole.local`)"
      - "traefik.http.routers.pihole.entrypoints=web"
      - "traefik.http.services.pihole.loadbalancer.server.port=80"
      - "traefik.http.middlewares.pihole-redirect.redirectregex.regex=^https?://(.*)/$$"
      - "traefik.http.middlewares.pihole-redirect.redirectregex.replacement=$$1/admin"
      - "traefik.http.routers.pihole.middlewares=pihole-redirect"
    # Volumes store your data between container upgrades
    volumes:
      - './etc-pihole:/etc/pihole'
      - './etc-dnsmasq.d:/etc/dnsmasq.d'
    #   https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
    restart: unless-stopped

networks:
  frontend:
    external: true
