services:
  postgresql:
    image: docker.io/library/postgres:16-alpine
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    volumes:
      - database:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: "{{ authentik_pg_pass }}"
      POSTGRES_USER: "{{ pg_user }}"
      POSTGRES_DB: "{{ pg_db }}"
    networks:
      - backend
  redis:
    image: docker.io/library/redis:alpine
    command: --save 60 1 --loglevel warning
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 3s
    volumes:
      - redis:/data
    networks:
      - backend
  server:
    container_name: authentik-server
    image: "{{ authentik_image }}"
    restart: unless-stopped
    command: server
    environment:
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_POSTGRESQL__HOST: postgresql
      AUTHENTIK_POSTGRESQL__USER: "{{ pg_user }}"
      AUTHENTIK_POSTGRESQL__NAME: "{{ pg_db }}"
      AUTHENTIK_POSTGRESQL__PASSWORD: "{{ authentik_pg_pass }}"
      AUTHENTIK_ERROR_REPORTING__ENABLED: "true"
      AUTHENTIK_SECRET_KEY: "{{ authentik_secret_key }}"
    volumes:
      - ./media:/media
      - ./custom-templates:/templates
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.authentik-https.rule=Host(`{{ authentik_domain }}`)"
      - "traefik.http.routers.authentik-https.entrypoints=websecure"
      - "traefik.http.routers.authentik-https.tls=true"
      - "traefik.http.routers.authentik-https.tls.certresolver={{ certresolver }}"
      - "traefik.http.routers.authentik-https.service=authentik-svc"
      - "traefik.http.services.authentik-svc.loadBalancer.server.port=9000"
      - "traefik.http.middlewares.authentik-headers.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.middlewares.authentik-headers.headers.customrequestheaders.X-Forwarded-For={{ "{{ .RemoteIP }}" }}"
      - "traefik.http.middlewares.authentik-headers.headers.customrequestheaders.Host={{ authentik_domain }}"
      - "traefik.http.middlewares.authentik-headers.headers.customrequestheaders.Connection=Upgrade"
      - "traefik.http.middlewares.authentik-headers.headers.customrequestheaders.Upgrade=websocket"
    depends_on:
      - postgresql
      - redis
    networks:
      - backend
      - frontend
  worker:
    image: "{{ authentik_image }}"
    container_name: authentik-worker
    restart: unless-stopped
    command: worker
    environment:
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_POSTGRESQL__HOST: postgresql
      AUTHENTIK_POSTGRESQL__USER: "{{ pg_user }}"
      AUTHENTIK_POSTGRESQL__NAME: "{{ pg_db }}"
      AUTHENTIK_POSTGRESQL__PASSWORD: "{{ authentik_pg_pass }}"
      AUTHENTIK_ERROR_REPORTING__ENABLED: "true"
      AUTHENTIK_SECRET_KEY: "{{ authentik_secret_key }}"

    # `user: root` and the docker socket volume are optional.
    # See more for the docker socket integration here:
    # https://goauthentik.io/docs/outposts/integrations/docker
    # Removing `user: root` also prevents the worker from fixing the permissions
    # on the mounted folders, so when removing this make sure the folders have the correct UID/GID
    # (1000:1000 by default)
    user: root
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./media:/media
      - ./certs:/certs
      - ./custom-templates:/templates
    depends_on:
      - postgresql
      - redis
    networks:
      - backend
      - frontend

volumes:
  database:
    driver: local
  redis:
    driver: local

networks:
  frontend:
    external: true
  backend:
    driver: bridge
