# Traefik Setup
services:
  traefik:
    image: traefik:v3
    container_name: traefik
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"  # Dashboard port
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/etc/traefik/traefik.yml
      - ./acme.json:/acme.json
      - "{{ traefik_configs }}:/etc/traefik/conf" # Extra directory for dynamic configurations
    networks:
      - frontend

networks:
  frontend:
    external: true
