# Traefik configuration file
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: production
        domains:
          - main: "{{ base_domain }}"
            sans:
              - '*.{{ base_domain }}'

certificatesResolvers:
  staging:
    acme:
      email: "{{ acme_email }}"
      storage: /acme.json
      caServer: "https://acme-staging-v02.api.letsencrypt.org/directory"
      httpChallenge:
        entryPoint: web
  letsencrypt:
    acme:
      email: "{{ acme_email }}"
      storage: /acme.json
      caServer: "https://acme-v02.api.letsencrypt.org/directory"
      httpChallenge:
        entryPoint: web

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: frontend
  file:
    directory: /etc/traefik/conf/
    watch: true

api:
  dashboard: true
  insecure: true

log:
  level: DEBUG
