# APPNICENAME=Stash
# APPDESCRIPTION=An organizer for your porn, written in Go
services:
  stash:
    image: stashapp/stash:latest
    container_name: stash
    restart: unless-stopped
    networks:
      - frontend
    ports:
      - "{{ stash_port }}:{{ stash_port }}" # Required for initial configuration, unless you provide a custom config
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "2m"
    environment:
      - STASH_STASH=/data/
      - STASH_GENERATED=/generated/
      - STASH_METADATA=/metadata/
      - STASH_CACHE=/cache/
      - STASH_PORT={{ stash_port }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      ## Adjust below paths (the left part) to your liking.
      ## E.g. you can change ./config:/root/.stash to ./stash:/root/.stash
      
      ## Keep configs, scrapers, and plugins here.
      - ./config:/root/.stash
      ## Point this at your collection.
      - "{{ stash_media_root }}/data:/data"
      ## This is where your stash's metadata lives
      - "{{ stash_media_root }}/metadata:/metadata"
      ## Any other cache content.
      - ./cache:/cache
      ## Where to store binary blob data (scene covers, images)
      - "{{ stash_media_root }}/blobs:/blobs"
      ## Where to store generated content (screenshots,previews,transcodes,sprites)
      - ./generated:/generated
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.stash-https.rule=Host(`{{ stash_domain }}`)"
      - "traefik.http.routers.stash-https.entrypoints=websecure"
      - "traefik.http.routers.stash-https.tls=true"
      - "traefik.http.routers.stash-https.tls.certresolver={{ certresolver }}"
      - "traefik.http.routers.stash-https.middlewares=authentik@file"
      - "traefik.http.routers.stash-https.service=stash-svc"
      - "traefik.http.services.stash-svc.loadBalancer.server.port={{ stash_port }}"
networks:
  frontend:
    external: true
